<nav id="about-nav" class="sticky-lg-top mb-4 mb-lg-0" style="top: 1.5rem;" aria-label="About page navigation">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/' %} active{% endif %}" href="/about/">What we do</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/skills/' %} active{% endif %}" href="/about/about-what-we-offer/">What we offer</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/how-we-work/' %} active{% endif %}" href="/about/how-we-work/">How we work</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/who-we-are/' %} active{% endif %}" href="/about/who-we-are/">Who we are</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/where-we-work/' %} active{% endif %}" href="/about/where-we-work/">Where we work</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/about/our-values/' %} active{% endif %}" href="/about/our-values/">Our values</a></li>
  </ul>
</nav>
