<nav id="projects-nav" class="sticky-lg-top mb-4 mb-lg-0" style="top: 1.5rem;" aria-label="Our work page navigation">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link{% if page.url == '/projects/' %} active{% endif %}" href="/projects/">All projects</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/projects/research/' %} active{% endif %}" href="/projects/research/">Research</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/projects/impact-and-evaluation/' %} active{% endif %}" href="/projects/impact-and-evaluation/">Impact and evaluation</a></li>
    <li class="nav-item"><a class="nav-link{% if page.url == '/projects/capacity-building/' %} active{% endif %}" href="/projects/capacity-building/">Capacity building</a></li>
  </ul>
</nav>
