---
layout: default
---
<h1 class="mb-4">About Wild Fig Research</h1>

<p class="lead mb-2">Wild Fig Research is a non-profit participatory research organisation based in Sheffield, working locally, regionally, nationally and internationally with diverse communities and organisations. </p>

<p class="lead mb-2">We design and deliver participatory research with communities, VCFSE (voluntary, community, faith and social enterprise) organisations, universities, and the public sector - shifting thinking and practice at every level, from grassroots priorities to institutional decision-making.</p>

<p class="lead mb-5">We're set up as a company limited by guarantee. This means there are no shareholders, no distributed profit, and all surplus is reinvested in the work.</p>

<div class="row">
  <div class="col-lg-3">
    {% include about-nav.html %}
  </div>

  <div class="col-lg-9">
    <h2 class="mb-4">{{ page.title }}</h2>
    {{ content }}
  </div>
</div>
